@page
@model ApplicationCars.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Service Hub";
}

<h1>Service Hub</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <select asp-for="CarModel" asp-items="Model.Models">
            <option value="">All</option>
        </select>
        Brand: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@ViewData["BrandSort"]">
                    Brand
                    @if (ViewData["BrandSort"].ToString() == "brand_desc")
                    {
                        <span>&#9660;</span> <!-- Down arrow -->
                    }
                    else
                    {
                        <span>&#9650;</span> <!-- Up arrow -->
                    }
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@ViewData["ModelSort"]">
                    Model
                    @if (ViewData["ModelSort"].ToString() == "model_desc")
                    {
                        <span>&#9660;</span>
                    }
                    else
                    {
                        <span>&#9650;</span>
                    }
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@ViewData["PriceSort"]">
                    Price
                    @if (ViewData["PriceSort"].ToString() == "price_desc")
                    {
                        <span>&#9660;</span>
                    }
                    else
                    {
                        <span>&#9650;</span>
                    }
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@ViewData["ProductionYearSort"]">
                    Production Year
                    @if (ViewData["ProductionYearSort"].ToString() == "productionyear_desc")
                    {
                        <span>&#9660;</span>
                    }
                    else
                    {
                        <span>&#9650;</span>
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductionYear)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
